# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/

# VS Code
.vscode/

# Docker
*.db
*.sqlite3
*.log
.env
.dockerignore

# OS
.DS_Store

# Python packaging
*.egg-info/
